@using System.Security.Claims
@{
    var fullNameAr = User.FindFirst("FullNameAr")?.Value;
    var userrole = User.FindFirst("Role").Value;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Coursecount = ViewBag.Coursecount;

}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<div class="row justify-content-md-center mb-3">
    <div class="col">
        <!-- icons -->
        <div class="row">


            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

        </div>

    </div>
    <div class="col">
        <div class="row">


            <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>

        </div>
    </div>
   
</div>

<div class="container row">
    
    <div class="d-flex gap-2">
       
        <div class="row col-md-3">
 
                    @for (int i = 0; i < ViewBag.CourseList.Count; i++)
                    {
                        <div class="card ">
                            <div class="card-body">
                        <h5 class="card-title">@ViewBag.CollegeName[i]</h5>
                        <p class="card-text">@ViewBag.CourseList[i]</p>
                            </div>
                        </div>
                    }

        </div>
        
    </div>
</div>

<style>
    .card {
        margin: 15px 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    .card-body {
        text-align: center;
    }
</style>


@section Scripts {
    @{
        <script>
            const xValues = ["كلية علوم الحاسب", "France", "Spain", "USA", "Argentina"];
            const yValues = [@Coursecount, 2, 5, 8, 12];
            const barColors = ["red", "green", "blue", "orange", "brown"];

            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "World Wine Production 2018"
                    }
                }
            });
            const xValues1 = ["Italy", "France", "Spain", "USA", "Argentina"];
            const yValues1 = [55, 49, 44, 24, 15];
            const barColors1 = [
                "#b91d47",
                "#00aba9",
                "#2b5797",
                "#e8c3b9",
                "#1e7145"
            ];

            new Chart("myChart1", {
                type: "pie",
                data: {
                    labels: xValues1,
                    datasets: [{
                        backgroundColor: barColors1,
                        data: yValues1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "World Wide Wine Production 2018"
                    }
                }
            });
        </script>
    }}