@using System.Security.Claims
@{
    var fullNameAr = User.FindFirst("FullNameAr")?.Value;
    var userrole = User.FindFirst("Role").Value;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="row justify-content-md-center mb-3">
    <div class="col">
        <!-- icons -->
        <div class="row">
            

            <div>
                <canvas id="products_chart"></canvas>
            </div>
           
        </div>
    </div>
</div>

