@model SessionsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">تفاصيل الجلسة</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post">
                    <div class="row">
                        <h5></h5>
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">اسم الجلسة بالعربي</label>
                                <input type="text" class="form-control" asp-for="SessionNameAr" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">اسم الجلسة بالانجليزي</label>
                                <input type="text" class="form-control" asp-for="SessionNameEn" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">حالة الجلسة </label>
                                <input type="text" class="form-control" asp-for="StateAr" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">اسم المادة </label>
                                <input type="text" class="form-control" asp-for="CourseNameAr" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">العنوان بالعربي</label>
                                <input type="text" class="form-control" asp-for="TitleAr" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">العنوان بالانجليزي </label>
                                <input type="text" class="form-control" asp-for="TitleEn" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">الرابط</label>
                                <input type="text" class="form-control" asp-for="Links" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">عدد الطلاب </label>
                                <input type="text" class="form-control" asp-for="NumOfStudents" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="Gender" class="mb-1">الجنس</label>
                                <select asp-for="Gender" class="form-control" disabled>
                                    <option value="">ذكور وإناث</option>
                                    <option value="True">ذكر</option>
                                    <option value="False">أنثى</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">تاريخ الجلسة</label>
                                <input type="text" class="form-control" asp-for="SessionDate" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">تاريخ بداية التسجيل في الجلسة</label>
                                <input type="text" class="form-control" asp-for="RegStartDate" readonly />
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1">تاريخ نهاية التسجيل في الجلسة</label>
                                <input type="text" class="form-control" asp-for="RegEndDate"  readonly />
                            </div>
                        </div><!-- END ITEM -->


                        <div>
                            @*  <button asp-action="Index" class="btn btn-primary px-5" title="save">الرجوع </button> *@
                            <a asp-action="Index" class="btn btn-primary px-5">الرجوع</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

