@using System.Security.Claims
@{
    var userrole = User.FindFirst("Usertype").Value;
    var Name = User.FindFirst("FullNameAr").Value;
}


<div class="row justify-content-md-center mb-3">
    @* <div class="col">
        <h4 class="text-center mb-4">مرحبا بك, @Name</h4>
        <div class="col-md-6">
            <h4>الجلسات القادمة </h4>
            <div class="card">
                <div class="card-body">
                    <h5>Session: Math 101 - Lecture 3</h5>
                    <p>Date: Sept 20, 2024 - Time: 10:00 AM</p>
                    <a href="#" class="btn btn-success">Register</a>
                </div>
            </div>
            <!-- Add more sessions -->
        </div> *@
    
        <!-- icons -->
        <div class="row">
           
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "UserCourse")" class="block layout_icons d-block mb-4">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2L3 6V8H21V6L14 2L10 2Z" fill="#0a626a" />
                        <path d="M5 10H7V18H5V10Z" fill="#0a626a" />
                        <path d="M17 10H19V18H17V10Z" fill="#0a626a" />
                        <path d="M9 10H11V18H9V10Z" fill="#0a626a" />
                        <path d="M13 10H15V18H13V10Z" fill="#0a626a" />
                        <path d="M4 20V22H20V20H4Z" fill="0a626a" />
                    </svg>
                        <h5 class="text-dark"> المقررات</h5>

                    </a>
                </div>
            
           
                <div class="col-md-4">
                <a href="@Url.Action("SessionsRegCards", "UserRegistration")" class="block layout_icons d-block mb-4">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3H21V13H3V3Z" fill="#0a626a" />
                        <path d="M9 16H15V18H9V16Z" fill="#0a626a" />
                        <path d="M12 13V21" stroke="#0a626a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7 21H17" stroke="#0a626a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                        <h5 class="text-dark">الجلسات</h5>

                    </a>
                </div>
            
        </div>
    </div>

    <style>

        .block {
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            justify-content: center;
            border: 1px solid #454343;
            border-radius: 8px;
        }

            .block:hover {
                transform: translateY(-10px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

    </style>
