@model RegistrationViewModel

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">تفاصيل التسجيل في الجلسة</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post">

                    <!-- User Information Card -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>معلومات المستخدم:</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="Email" class="mb-1"></label>
                                        <input type="text" class="form-control" asp-for="Email" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="FullNameAr" class="mb-1"></label>
                                        <input asp-for="FullNameAr" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="Phone" class="mb-1"></label>
                                        <input asp-for="Phone" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                            </div>
                        </div>
                    </div>

                    <!-- Session Information Card -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>معلومات الجلسة:</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="SessionNameAr" class="mb-1"></label>
                                        <input asp-for="SessionNameAr" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="CourseNameAr" class="mb-1"></label>
                                        <input asp-for="CourseNameAr" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="TitleAr" class="mb-1"></label>
                                        <input asp-for="TitleAr" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="NumOfStudents" class="mb-1"></label>
                                        <input asp-for="NumOfStudents" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="RegDate" class="mb-1"></label>
                                        <input asp-for="RegDate" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="SessionDate" class="mb-1"></label>
                                        <input asp-for="SessionDate" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="RegStartDate" class="mb-1"></label>
                                        <input asp-for="RegStartDate" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="RegEndDate" class="mb-1"></label>
                                        <input asp-for="RegEndDate" type="text" class="form-control" readonly />
                                    </div>
                                </div><!-- END ITEM -->
                            </div>
                        </div>
                    </div>

                    <div>
                        <button asp-action="Index" class="btn btn-primary px-5" title="save">العودة إلى قائمة التسجيل</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
